{% extends 'common/base/base.html' %}

{% block site_heading %}Create Python{% endblock %}

{% block site_content %}
    <form class="col-lg-6 offset-lg-3" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label for="image">Image URL</label>
            {{ form.image }}
        </div>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
{% endblock %}
